In [1]:
import pandas as pd

In [3]:
LGR_df = pd.read_csv("../../data/results_ave_mae_1.csv", index_col=0)
LGR_df

             Gene   ave_MAE
0            lipe  1.017414
1    LOC106564730  1.024242
2    LOC106602690  1.023597
3    LOC106581127  1.022533
4    LOC106588400  0.999736
..            ...       ...
474  LOC106591957  1.025322
475  LOC106606691  0.991557
476  LOC106592031  1.021712
477  LOC106608968  1.009791
478  LOC106611122  1.020482

[479 rows x 2 columns]

In [36]:
GFGWA_df = pd.read_csv("../../data/GFGWA_genes_minpval.csv", index_col=0)
# GFGWA_df["minpval"] = GFGWA_df[['pval_AltGreater', 'pval_AltLess']].min(axis=1)
GFGWA_df

         minpval
143b2   0.048587
2a5e    0.000469
4f2     0.012341
5nt1a   0.060738
5ntc    0.009990
...          ...
zpr1    0.000167
zranb2  0.000016
zswim7  0.000152
zswim8  0.011779
zzef1   0.000018

[24381 rows x 1 columns]

In [37]:
# Add percentiles
LGR_df["LGR_pct"] = LGR_df["ave_MAE"].rank(pct=True)
LGR_df.sort_values(by="LGR_pct", ascending=True, inplace=True)
LGR_df

             Gene   ave_MAE   LGR_pct
230  LOC106566372  0.964860  0.002088
308           hba  0.964900  0.004175
396  LOC106607380  0.965438  0.006263
442          duox  0.969507  0.008351
86   LOC106583594  0.974423  0.010438
..            ...       ...       ...
412  LOC106569466  1.028349  0.991649
197  LOC106590792  1.029229  0.993737
89   LOC106610272  1.029579  0.995825
423  LOC106571490  1.030534  0.997912
192  LOC123743132  1.030724  1.000000

[479 rows x 3 columns]

In [38]:
# GFGWA_df["GFGWA_pct"] = GFGWA_df["log_mws_score"].rank(pct=True)
# GFGWA_df.sort_values(by="GFGWA_pct", ascending=False, inplace=True)
# GFGWA_df

In [41]:
combined_df = pd.merge(left=GFGWA_df, left_on=GFGWA_df.index, right=LGR_df, right_on=LGR_df["Gene"])
combined_df

            key_0       minpval          Gene   ave_MAE   LGR_pct
0    LOC100136378  2.045360e-03  LOC100136378  1.016377  0.555324
1    LOC100136415  1.880512e-05  LOC100136415  1.005957  0.227557
2    LOC100136435  6.673468e-04  LOC100136435  1.021895  0.841336
3    LOC100136455  2.126384e-05  LOC100136455  1.006289  0.240084
4    LOC100194634  2.410694e-03  LOC100194634  1.016296  0.549061
..            ...           ...           ...       ...       ...
250       trappc5  3.282887e-01       trappc5  1.011827  0.379958
251      txnrd2.2  5.015886e-04      txnrd2.2  1.013162  0.434238
252         ub2e3  7.498264e-03         ub2e3  1.013842  0.446764
253          zanl  1.974281e-09          zanl  1.021289  0.805846
254    zgc:103559  3.491169e-04    zgc:103559  1.020708  0.772443

[255 rows x 5 columns]

In [42]:
len(combined_df["Gene"].unique())

255

In [43]:
priority = combined_df[combined_df["LGR_pct"] < 0.05]
priority = priority[priority["minpval"] < 0.05]
priority

            key_0   minpval          Gene   ave_MAE   LGR_pct
100  LOC106583220  0.000157  LOC106583220  0.989100  0.037578
143  LOC106601072  0.031004  LOC106601072  0.975660  0.012526
151  LOC106602771  0.000001  LOC106602771  0.983748  0.027140
154  LOC106603702  0.032821  LOC106603702  0.985027  0.031315
186  LOC106613694  0.003089  LOC106613694  0.991863  0.048017
223         otub1  0.001217         otub1  0.983916  0.029228

In [32]:
priority["key_0"].unique()

array(['LOC106583220', 'LOC106602771', 'LOC106613694', 'otub1',
       'LOC106603702', 'LOC106601072'], dtype=object)